{% extends 'base.html' %}

{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">PersonalID</th>
            <th scope="col">All Posts</th>
            <th scope="col">All Comments</th>
            <th scope="col">Account</th>
        </tr>
        </thead>
        <tbody>
            {% for user in users %}

                <tr>
                    <th scope="row">{{ user['id'] }}</th>
                    <td> {{ user['username'] }} </td>
                    <td> {{ user['email'] }} </td>
                    <td> {{user['personalID'] }}</td>
                    <td><button class="btn btn-outline-info">Inspect</button></td>
                    <td><button class="btn btn-outline-info">Inspect</button></td>
                    <td><button class="btn btn-outline-info">Edit</button></td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

{% endblock %}