{% extends 'base.html' %}

{% block content %}

    <ol class="breadcrumb shadow shadow-hover {% if g.user['dark_mode'] %}bg-transparent{% else %}bg-white{% endif %}">
      <li class="breadcrumb-item"><a href="/">SodHjälp</a></li>
      <li class="breadcrumb-item"><a href="/admin/beta">Admin</a></li>
    </ol>

    <div class="card shadow shadow-hover p-3 mb-5 {% if g.user['dark_mode'] %}bg-transparent{% else %}bg-white{% endif %} rounded border-0">
      
        <h1 class="card-header {% if g.user['dark_mode'] %}bg-transparent{% else %}bg-white{% endif %}">{% block title %}Admin{% endblock %}</h1>


        <textarea name="command_window" class="form-control {% if g.user['dark_mode'] %}bg-light text-white{% endif %}" id="command_window" rows="10" readonly autofocus style="font-family: monospace; overflow: auto;" wrap="off">
          {% for row in data %}
            {{row}}
          {% endfor %}
        </textarea>

        <form class="input-group mb-3" action="{{ url_for('admin.sql')}}" method="POST">
          <input type="text" id="code" name="code" class="form-control {% if g.user['dark_mode'] %}bg-light text-white{% endif %}" placeholder="execute code" aria-label="execute code" aria-describedby="button-addon2">
          <div class="input-group-append">
            <input class="btn btn-secondary" type="submit" id="button-addon2" value="execute"/>
          </div>

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>


        <div class="card-body">

            <div class="card mb-4 border-0 shadow">
                <h3 class="card-header rounded-0 border-0 {% if g.user['dark_mode'] %}bg-transparent{% else %}bg-white{% endif %}">Users</h3>
                <div class="accordion rounded-0" id="accordionUser">
                {% for user in users %}
                    <div class="card rounded-0 border-0">
                      <div class="card-header border-0" id="userHeading{{ user['id'] }}">
                        <h4 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#userCollapse{{ user['id'] }}" aria-expanded="true" aria-controls="userCollapse{{ user['id'] }}">
                            [{{ user['id'] }}]&nbsp;{{ user['username'] }}
                          </button>
                        </h4>
                      </div>

                      <div id="userCollapse{{ user['id'] }}" class="collapse" aria-labelledby="userHeading{{ user['id'] }}" data-parent="#accordionUser">

                        <div class="card-body">
                          <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                              <input type="text" readonly class="form-control-plaintext" id="{{ user['email']}}" value="{{ user['email']}}">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">PersonalID</label>
                            <div class="col-sm-10">
                              <input type="text" readonly class="form-control-plaintext" id="{{ user['personal_id'] }}" value="{{ user['personal_id'] }}">
                            </div>
                          </div>
                          <a class="btn btn-primary" href="{{url_for('admin.update', id= user['id'])}}">Edit</a>
                          <a class="btn btn-primary" href="{{url_for('admin.update_password', id= user['id'])}}">Edit pass</a>
                        </div>

                      </div>
                    </div>
                  {% endfor %}
                </div>
            </div>

            <div class="card border-0 shadow">
                <h3 class="card-header rounded-0 border-0 {% if g.user['dark_mode'] %}bg-transparent{% else %}bg-white{% endif %}">Feedback</h3>
                <div class="accordion rounded-0" id="accordionFeedback">
                  {% for feedback in feedbacks %}
                    <div class="rounded-0 border-0 card">
                      <div class="card-header border-0" id="feedbackHeading{{ feedback['id'] }}">
                        <h4 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#feedbackCollapse{{ feedback['id'] }}" aria-expanded="true" aria-controls="feedbackCollapse{{ feedback['id'] }}">
                            {{ get_feedback_user(feedback['user_id'])['username'] }} at {{ feedback['created'] }}
                          </button>
                        </h4>
                      </div>

                      <div id="feedbackCollapse{{ feedback['id'] }}" class="collapse" aria-labelledby="feedbackHeading{{ feedback['id'] }}" data-parent="#accordionFeedback">
                        <div class="card-body">
                          <h4 class="card-title">{{ feedback['title'] }}</h4>
                          <p>{{ feedback['body'] }}</p>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}