{% extends 'base.html' %}
{% block content %}

	<div class="card shadow-lg p-3 mb-5 bg-white rounded">
		<h1 class="card-header bg-white">{% block title %}Kommentera{% endblock %}</h1>
		<div class="card-body">
			<form method="post">
				<div class="form-group">
					<label for="body">Kommentar</label>
					<textarea name="body" class="form-control" id="body" rows="3" placeholder="Kommentar">{{ request.form['body'] }}</textarea>
				</div>
				<button type="submit" class="btn btn-outline-info">Kommentera</button>
			</form>
		</div>
	</div>

{% endblock %}