{% extends 'base.html' %}
{% block content %}

<div class="card shadow-lg p-3 mb-5 rounded border-0">

	<ol class="breadcrumb">
	  <li class="breadcrumb-item"><a href="/">SodHjälp</a></li>
	  <li class="breadcrumb-item active">Skapa inlägg</li>
	</ol>

	<h1 class="card-header bg-white">{% block title %}Skapa inlägg{% endblock %}</h1>
	<div class="card-body">
		<form method="post">
			<div class="form-group">
				<label for="title">Ämne</label>
				<select class="custom-select" id="class" name="class">
					<option selected>Välj...</option>
					<option value="matematik">Matematik</option>
					<option value="kemi">Kemi</option>
					<option value="biologi">Biologi</option>
					<option value="programmering">Programmering</option>
					<option value="historia">Historia</option>
					<option value="webbutveckling">Webbutveckling</option>
					<option value="svenska">Svenska</option>
					<option value="engelska">Engelska</option>
					<option value="teknik">Teknik</option>
					<option value="datorteknik">Dator- och nätverksteknik</option>
					<option value="fysik">Fysik</option>
				</select>
			</div>
			<div class="form-group">
				<label for="title">Titel</label>
				<input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp" placeholder="Titel">
			</div>
			<div class="form-group">
				<label for="body">Innehåll</label>
				<textarea name="body" class="form-control" id="body" rows="3" placeholder="Innehåll"></textarea>
			</div>
			<button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Skapa inlägg</button>
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
		</form>
	</div>
</div>

{% endblock %}