{% extends 'base.html' %}
{% block content %}

<ol class="breadcrumb shadow shadow-hover bg-white">
  <li class="breadcrumb-item"><a href="/">SodHjälp</a></li>
  <li class="breadcrumb-item active">Skapa inlägg</li>
</ol>

<div class="card shadow shadow-hover p-3 mb-5 rounded border-0">
	<h1 class="card-header bg-white">{% block title %}Skapa inlägg{% endblock %}</h1>
	<div class="card-body">
		<form method="post">
			<div class="form-group">
				<label for="title">Ämne</label>
				<select class="custom-select" id="class" name="class">
					<option selected>Välj...</option>
					<option value="matematik">Matematik</option>
					<option value="kemi">Kemi</option>
					<option value="biologi">Biologi</option>
					<option value="programmering">Programmering</option>
					<option value="historia">Historia</option>
					<option value="webbutveckling">Webbutveckling</option>
					<option value="svenska">Svenska</option>
					<option value="engelska">Engelska</option>
					<option value="teknik">Teknik</option>
					<option value="datorteknik">Dator- och nätverksteknik</option>
					<option value="fysik">Fysik</option>
				</select>
			</div>
			<div class="form-group">
				<label for="title">Titel</label>
				<input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp" placeholder="Titel">
			</div>
			<div class="form-group">
				<label for="body">Innehåll</label>
				<textarea name="body" class="form-control" id="body" rows="3" placeholder="Innehåll"></textarea>
			</div>
			<button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Skapa inlägg</button>
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
		</form>
	</div>
	<div class="card mt-4 shadow-hover shadow rounded border-0">

    <div class="card-header bg-white border-0 rounded">
      <h3 class="card-title live-preview-title"></h3>
      <h5 class="card-title text-muted">Live preview</h5>
      <div>
        {% if g.user['is_teacher'] %}
          <p class="lead card-subtitle text-muted">
            <span class="badge badge-success text-capitalize"><i class="fas fa-user"></i>&nbsp;&nbsp;{{ g.user['username'] }}</span>
            <span class="badge badge-primary text-capitalize"><i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;
            	<span class="live-preview-time"></span>
            </span>
            <span class="badge badge-primary text-capitalize"><i class="fas fa-chalkboard"></i>&nbsp;&nbsp;
            	<span class="live-preview-topic"></span>
            </span>
          </p>
        {% else %}
          <p class="lead card-subtitle text-muted">
            <span class="badge badge-primary text-capitalize"><i class="fas fa-user"></i>&nbsp;&nbsp;{{ g.user['username'] }}</span>
            <span class="badge badge-primary text-capitalize"><i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;
            	<span class="live-preview-time"></span>
            </span>
            <span class="badge badge-primary text-capitalize"><i class="fas fa-chalkboard"></i>&nbsp;&nbsp;
            	<span class="live-preview-topic"></span>
            </span>
          </p>
        {% endif %}
      </div>
    </div>

    <div class="card-body pl-4 pr-4 pb-4">
      <p style="white-space: pre-line" class="live-preview-body"></p>
    </div>

  </div>
</div>

{% endblock %}