{% extends 'base.html' %}
{% block content %}

<ol class="breadcrumb shadow shadow-hover {% if g.user['dark_mode'] %}bg-transparent{% else %}bg-white{% endif %}">
    <li class="breadcrumb-item"><a href="/">SodHjälp</a></li>
    <li class="breadcrumb-item active">Skapa nyhet</li>
</ol>

<div class="card shadow shadow-hover p-3 mb-5 rounded border-0">

  <h1 class="card-header {% if g.user['dark_mode'] %}bg-black{% else %}bg-transparent{% endif %}">{% block title %}Skapa nyhet{% endblock %}</h1>
  <div class="card-body">
    <form method="post">
      <div class="form-group">
        <label for="title">Titel</label>
        <input type="text" class="form-control {% if g.user['dark_mode'] %}bg-light text-white{% endif %}" name="title" id="title" aria-describedby="emailHelp" placeholder="Titel" value="{{ request.form['title']}}" required>
      </div>
      <div class="form-group">
        <label for="body">Nyhet</label>
        <textarea name="body" class="form-control {% if g.user['dark_mode'] %}bg-light text-white{% endif %}" id="body" rows="3" placeholder="Meddelande"></textarea>
      </div>
      <div class="form-group">
        <label for="title">Bildlänk</label>
        <input type="text" class="form-control {% if g.user['dark_mode'] %}bg-light text-white{% endif %}" name="pic" id="pic" aria-describedby="emailHelp" placeholder="https://www.webbsida.se/panes.jpg">
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <button type="submit" class="btn btn-primary"><i class="fas fa-bug"></i>&nbsp;&nbsp;Skapa nyhet</button>

    </form>
  </div>
</div>

{% endblock %}