{% extends 'base.html' %}

{% block content %}

  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <h1 class="card-header bg-white">{% block title %}Inlägg{% endblock %}</h1>
    <div class="card-body">
        {% if g.user %}
          <a class="text-info" href="{{ url_for('blog.create') }}">
          <div class="card shadow border border-info"><div class="card-body">
            Skapa nytt inlägg
          </div></div></a>
        {% endif %}

        {% for post in posts %}
          <div class="card mt-4">

            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <div>

                <h3 class="card-title">{{ post['title'] }}</h3>
                <h6 class="card-subtitle mb-2 text-muted">av {{ post['username'] }} den {{ post['created'].strftime('%d-%m-%Y') }}</h6>
              </div>
              <p class="card-text mt-3">{{ post['body'] }}</p>

              <div class="btn-group" role="group" aria-label="Basic example">
                {% if g.user['id'] == post['author_id'] %}
                  <a href="{{ url_for('blog.update', id=post['id']) }}" class="btn btn-outline-info">
                    Redigera inlägg
                  </a>
                {% endif %}

                {% if g.user %}
                  <a href="{{ url_for('blog.create_comment', id=post['id']) }}" class="btn btn-outline-info">
                    Kommentera
                  </a>
                {% endif %}    
                
                {% if get_all_comments(post['id']) != None %}
                  <button onclick="showHideComments(this)" class="btn btn-outline-info">Visa kommentarer</button>

                {% endif %}
              </div>


              {% for comment in comments if comment['post_id'] == post['id'] %}
                <div class="card shadow-sm mt-4 comments-box" style="display: none;"><div class="card-body">
                  <h5 class="card-title text-muted">{{ comment['username'] }} den {{ comment['created'].strftime('%d-%m-%Y') }}</h5>
                  <p class="body">{{ comment['body'] }}</p>
                </div></div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}

    </div>
  </div>




{% endblock %}