{% extends 'base.html' %}
{% block title %}Kommentera{% endblock %}
{% block content %}



	<div class="card p-3 mb-5 rounded border-0 bg-transparent">
		<ol class="breadcrumb shadow-hover shadow {% if g.user['dark_mode'] %}bg-transparent{% else %}bg-white{% endif %}">
		  <li class="breadcrumb-item"><a href="/">SodHjälp</a></li>
		  <li class="breadcrumb-item text-capitalize"><a href="/search/{{ post['topic'] }}">{{ post['topic']}}</a></li>
		  <li class="breadcrumb-item"><a href="/#post_{{post['id']}}">{{ post['title'] }}</a></li>
		  <li class="breadcrumb-item active">Kommentera</li>
		</ol>

      <div class="card mt-4 p-2 shadow-lg rounded border-0">

        <div class="card-header {% if g.user['dark_mode'] %}bg-transparent{% else %}bg-white{% endif %} border-0 rounded">
          <h3 class="card-title">{{ post['title'] }}</h3>
          <div>
            {% if get_user(post['author_id'])['is_teacher'] %}
              <p class="lead card-subtitle text-muted">
	          	<a class="badge badge-success text-capitalize" href="{{ url_for('blog.profile', username=post['username']) }}"><i class="fas fa-user"></i>&nbsp;&nbsp;{{ post['username'] }}</a>
                <span class="badge badge-primary text-capitalize"><i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;{{ post['created'].strftime('%d/%m %Y') }}</span>
                <span class="badge badge-primary text-capitalize"><i class="fas fa-chalkboard"></i>&nbsp;&nbsp;{{ post['topic']}}</span>
		        {% if g.user['id'] == post['author_id'] or g.user['is_teacher'] == 1 or g.user['is_admin'] == 1 %}
		          <a href="{{ url_for('blog.update', id=post['id']) }}" class="badge badge-danger text-capitalize">
		            <i class="fas fa-edit"></i>&nbsp;&nbsp;
		            Redigera inlägg
		          </a>
		        {% endif %}
              </p>
            {% else %}
              <p class="lead card-subtitle text-muted">
	          	<a class="badge badge-primary text-capitalize" href="{{ url_for('blog.profile', username=post['username']) }}"><i class="fas fa-user"></i>&nbsp;&nbsp;{{ post['username'] }}</a>
                <span class="badge badge-primary text-capitalize"><i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;{{ post['created'].strftime('%d/%m %Y') }}</span>
                <span class="badge badge-primary text-capitalize"><i class="fas fa-chalkboard"></i>&nbsp;&nbsp;{{ post['topic']}}</span>
		        {% if g.user['id'] == post['author_id'] or g.user['is_teacher'] == 1 or g.user['is_admin'] == 1 %}
		          <a href="{{ url_for('blog.update', id=post['id']) }}" class="badge badge-danger text-capitalize">
		            <i class="fas fa-edit"></i>&nbsp;&nbsp;
		            Redigera inlägg
		          </a>
		        {% endif %}
              </p>
            {% endif %}
          </div>
        </div>

        <div class="card-body pl-4 pr-4 pb-4">
	     	<p style="white-space: pre-line">{{post['body']}}</p>
        </div>

        {% if g.user %}
	        <div class="card shadow shadow-hover m-3 border-0"><div class="card-body">
			 	<form method="post" action="{{ url_for('blog.create_comment', id=post['id']) }}">
					<div class="form-group"> 
						{% if g.user['is_teacher'] %}
							<label for="body">Kommentera som <a class="badge badge-success text-capitalize" href="{{ url_for('blog.profile', username=g.user['username']) }}"><i class="fas fa-user"></i>&nbsp;&nbsp;{{ g.user['username'] }}</a></label>
						{% else %}
							<label for="body">Kommentera som <a class="badge badge-primary text-capitalize" href="{{ url_for('blog.profile', username=g.user['username']) }}"><i class="fas fa-user"></i>&nbsp;&nbsp;{{ g.user['username'] }}</a></label>
						{% endif %}

						<textarea name="body" class="form-control {% if g.user['dark_mode'] %}bg-light text-white{% endif %}" id="body" rows="3" placeholder="Kommentar">{{ request.form['body'] }}</textarea>
					</div>
					<button type="submit" class="btn btn-primary"><i class="fas fa-comment"></i>&nbsp;&nbsp;Kommentera</button>
				    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

				</form>
			</div></div>
		{% endif %}
		
		{% for comment in get_all_comments(post['id']) if get_all_comments(post['id']) != None %}

		{% if get_user(comment['author_id'])['is_teacher'] %}
		  <div class="card shadow shadow-hover m-3 border-0 comments-box"><div class="card-body">
		    <h5 class="card-title text-muted"><a class="badge badge-success text-capitalize" href="{{ url_for('blog.profile', username=comment['username']) }}"><i class="fas fa-user"></i>&nbsp;&nbsp;{{ comment['username'] }}</a> den {{ comment['created'].strftime('%d-%m-%Y') }}</h5>
		    <p class="body">{{ comment['body'] }}</p>
		  </div></div>
		{% else %}
		  <div class="card shadow shadow-hover m-3 border-0 comments-box"><div class="card-body">
		    <h5 class="card-title text-muted"><a class="badge badge-primary text-capitalize" href="{{ url_for('blog.profile', username=comment['username']) }}"><i class="fas fa-user"></i>&nbsp;&nbsp;{{ comment['username'] }}</a> den {{ comment['created'].strftime('%d-%m-%Y') }}</h5>
		    <p class="body">{{ comment['body'] }}</p>
		  </div></div>
		{% endif %}
		{% endfor %}

      </div>
	</div>

{% endblock %}