{% extends 'base.html' %}
{% block content %}

<div class="card shadow-lg p-3 mb-5 bg-white rounded">
  <h1 class="card-header bg-white">{% block title %}Redigera inlägg{% endblock %}</h1>
  <div class="card-body">
    <form method="post">
      <div class="form-group">
        <label for="title">Titel</label>
        <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp" placeholder="Titel" value="{{ request.form['title'] or post['title'] }}" required>
      </div>
      <div class="form-group">
        <label for="body">Innehåll</label>
        <textarea name="body" class="form-control" id="body" rows="3" placeholder="Innehåll">{{ request.form['body'] or post['body'] }}</textarea>
      </div>
      <button type="submit" class="btn btn-outline-info">Spara ändringar</button>
    </form>
    <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
      <input class="btn btn-outline-danger mt-2" type="submit" value="Radera inlägg" onclick="return confirm('Är du säker?');">
    </form>
  </div>
</div>

{% endblock %}