{% extends 'base.html' %}
{% block content %}

<ol class="breadcrumb shadow shadow-hover {% if g.user['dark_mode'] %}bg-transparent{% else %}bg-white{% endif %}">
  <li class="breadcrumb-item"><a href="/">SodHjälp</a></li>
  <li class="breadcrumb-item active">Redigera kommentar</li>
</ol>

<div class="card shadow shadow-hover p-3 mb-5 rounded border-0">

  <h1 class="card-header {% if g.user['dark_mode'] %}bg-transparent{% else %}bg-white{% endif %}">{% block title %}Redigera kommentar{% endblock %}</h1>
  <div class="card-body">
    <form method="post">
      <div class="form-group">
        <label for="body">Innehåll</label>
        <textarea name="body" class="form-control" id="body" rows="3" placeholder="Innehåll">{{ request.form['body'] or comment['body'] }}</textarea>
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

      <button type="submit" class="btn btn-primary">Spara ändringar</button>
    </form>
    <form action="{{ url_for('blog.delete_comment', id=comment['id']) }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

      <input class="btn btn-danger mt-2" type="submit" value="Radera kommentar" onclick="return confirm('Är du säker?');">
    </form>
  </div>
</div>

{% endblock %}