{% extends 'error/error_base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid shadow">
	<div class="container">
		<ol class="breadcrumb shadow">
			<li class="breadcrumb-item"><a href="/">SodHjälp</a></li>
			<li class="breadcrumb-item active">Error 404</li>
		</ol>
		<h1 class="display-4">{% block title %}Error 404{% endblock %}</h1>
		<p class="lead">Sidan kunde inte hittas.</p>
    	<span class="small">Försök igen.</span>
    	<a href="/">Klicka här för att komma tillbaka till startsidan</a>
	</div>
</div>



{% endblock %}