{% extends 'base.html' %}
{% block content %}

<div class="card shadow-lg p-3 mb-5 rounded border-0">

	<ol class="breadcrumb">
	  <li class="breadcrumb-item"><a href="/">SodHjälp</a></li>
	  <li class="breadcrumb-item active">Logga in</li>
	</ol>

	<h1 class="card-header bg-white">{% block title %}Logga in{% endblock %}</h1>
	<div class="card-body">
		<form method="post">
		  <div class="form-group">
		    <label for="username">Användarnamn</label>
		    <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp" placeholder="Användarnamn">
		    <small id="emailHelp" class="form-text text-muted">Använd gärna personnummer eller epost-adress för att logga in!</small>
		  </div>
		  <div class="form-group">
		    <label for="password">Lösenord</label>
		    <input type="password" class="form-control" name="password" id="password" placeholder="••••••••••••">
		  </div>
		        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

		  <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Logga in</button>
		</form>
	</div>
</div>



{% endblock %}