{% extends 'base.html' %}
{% block content %}

<div class="card shadow-lg p-3 mb-5 rounded border-0">

	<ol class="breadcrumb">
	  <li class="breadcrumb-item"><a href="/">SodHjälp</a></li>
	  <li class="breadcrumb-item active">Skapa konto</li>
	</ol>

	<h1 class="card-header bg-white">{% block title %}Skapa konto{% endblock %}</h1>
	<div class="card-body">
		<form method="post">
		  <div class="form-group">
		    <label for="username">Användarnamn</label>
		    <input type="text" class="form-control" name="username" id="username" placeholder="Användarnamn">
		  </div>
		  <div class="form-group">
		    <label for="personalID">Personnummer</label>
		    <input type="text" class="form-control" name="personalID" id="personalID" aria-describedby="personalIDHelp" placeholder="ÅÅMMDDXXXX">
		    <small id="personalIDHelp" class="form-text text-muted">Ditt personnummer krypteras på våra servrar, och går inte att se av någon från SodHjälp. <a href="#">Läs mer om GDPR här</a>.</small>
		  </div>
		  <div class="form-group">
		    <label for="email">Epost-adress</label>
		    <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="förnamn.efternamn@elev.ntig.se">
		    <small id="emailHelp" class="form-text text-muted">Används för att boka läxhjälp, lägga upp inlägg och verifiera ditt konto.</small>
		  </div>
		  <div class="form-group">
		    <label for="password">Lösenord</label>
		    <input type="password" class="form-control" name="password" id="password" placeholder="••••••••••••">
		  </div>
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

		  <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Skapa konto</button>
		</form>
	</div>
</div>



{% endblock %}