<!DOCTYPE html>
<title>{% block title %}{% endblock %} | SodHjälp</title>

<!-- GOOGLE SHIT -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132676118-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132676118-4');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W4LD7P8');</script>
<!-- End Google Tag Manager -->

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6403231240678884",
    enable_page_level_ads: true
  });
</script>

<meta name="google-site-verification" content="AujNRvkB6WOqzCGbVBneX1ilisDi93KyivFSCgs-DVE" />

<!-- END OF GOOGLE SHIT -->

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<!-- BASE BOOTSTRAP <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<script type="text/javascript" src="{{ url_for('static', filename='frontend.js') }}"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<META NAME="Title" CONTENT="SodHjälp">
<META NAME="Keywords" CONTENT="Läxhjälp, Södertörn, NTI, NTI-Gymnasiet, NTI-Gymnasiet Södertörn">
<META NAME="Description" CONTENT="SodHjälp är sidan för dig som behöver hjälp med skolarbete!">
<META NAME="Subject" CONTENT="SodHjälp">
<META NAME="Language" CONTENT="Swedish">


<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#2C3E50">

<!-- Windows -->
<meta name="msapplication-navbutton-color" content="#2C3E50">
<meta name="msapplication-TileColor" content="#2C3E50">

<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#2C3E50">

<!-- ICONS
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2C3E50">
-->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W4LD7P8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <a class="navbar-brand" href="/">SodHjälp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      {% if g.user %}
        <li class="nav-item"><div class="nav-link disabled text-white"><i class="fas fa-user"></i>&nbsp;&nbsp;Välkommen, <span class="text-capitalize">{{ g.user['username'] }}</span></div></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('blog.create') }}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Skapa inlägg</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.settings') }}"><i class="fas fa-cog"></i>&nbsp;&nbsp;Inställningar</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logga ut</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('blog.feedback') }}"><i class="fas fa-bug"></i>&nbsp;&nbsp;Rapportera buggar</a></li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Skapa konto</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Logga in</a></li>
      {% endif %}
      <li class="nav-item"><a class="nav-link" href="http://sodschema.ga"><i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;Schema</a></li>
      <li class="nav-item"><a class="nav-link" href="http://sodmat.ga"><i class="fas fa-utensils"></i>&nbsp;&nbsp;Skolmat</a></li>
      {% if g.user['is_admin'] %}
        <li class="nav-item"><a class="nav-link" href="{{url_for('admin.index')}}"><i class="fas fa-tools"></i>&nbsp;&nbsp;Admin</a></li>
      {% endif %}

    </ul>

    <form class="form-inline my-2 my-lg-0" method="POST" action="{{ url_for('blog.specific_posts', key='')}}">
      <input class="form-control mr-sm-2" type="text" placeholder="Sök efter inlägg" name="search" id="search" aria-label="Sök">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>&nbsp;&nbsp;Sök</button>
    </form>

  </div>
</nav>

<script type="text/javascript"></script>


<div class="container-fluid mt-5">
  <div class="row align-items-start">

    <div class="col-lg-4 col-xl-2 order-6 order-xl-1">
      <div class="card shadow border-0 ml-3 mr-3 mb-5 rounded p-0">
        <div class="list-group border-0 text-info">
          <a class="list-group-item border border-primary text-primary" href="/"><i class="fas fa-chalkboard"></i>&nbsp;&nbsp;Ämnen</a>
          <a class="text-primary border-left-0 border-right-0 border-bottom-0 border-top border-primary list-group-item" href="{{ url_for('blog.specific_posts', key="matematik") }}">Matematik</a>
          <a class="text-primary border-0 list-group-item" href="{{url_for('blog.specific_posts', key="kemi")}}">Kemi</a>
          <a class="text-primary border-0 list-group-item" href="{{url_for('blog.specific_posts', key="biologi")}}">Biologi</a>
          <a class="text-primary border-0 list-group-item" href="{{url_for('blog.specific_posts', key="programmering")}}">Programmering</a>
          <a class="text-primary border-0 list-group-item" href="{{url_for('blog.specific_posts', key="fysik")}}">Fysik</a>
          <a class="text-primary border-0 list-group-item" href="{{url_for('blog.specific_posts', key="historia")}}">Historia</a>
          <a class="text-primary border-0 list-group-item" href="{{url_for('blog.specific_posts', key="webbutveckling")}}">Webbutveckling</a>
          <a class="text-primary border-0 list-group-item" href="{{url_for('blog.specific_posts', key="svenska")}}">Svenska</a>
          <a class="text-primary border-0 list-group-item" href="{{url_for('blog.specific_posts', key="engelska")}}">Engelska</a>
          <a class="text-primary border-0 list-group-item" href="{{url_for('blog.specific_posts', key="teknik")}}">Teknik</a>
          <a class="text-primary borader-0 list-group-item" href="{{url_for('blog.specific_posts', key="datorteknik")}}">Dator- och nätverksteknik</a>
        </div>
      </div>
    </div>
      <div class="col-lg-4 col-xl-6 order-1 order-xl-6">

      {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}
          {% for category , message in messages %}

            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

          {% endfor %}
        
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </div>

      <div class="col-lg-4 col-xl-4 order-12 order-xl-12">
        {% if g.user and g.user['personal_id'] and g.user['personal_id']!= "None" %}
          <div class="card shadow border-0 sticky-top mb-5">
            <div class="card-body mx-auto">
              <img src="{{ get_schedule_url() }}" class="img-fluid" alt="Schedule" id="schedule">
            </div>
          </div>
        {% endif %}

        <!-- ad cards
        <div class="card mb-3">
          <img src="https://images.pexels.com/photos/1033374/pexels-photo-1033374.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card mb-3">
          <img src="https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card mb-3">
          <img src="https://images.pexels.com/photos/1048033/pexels-photo-1048033.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card mb-3">
          <img src="https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card mb-3">
          <img src="https://images.pexels.com/photos/1033374/pexels-photo-1033374.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card mb-3">
          <img src="https://images.pexels.com/photos/1154198/pexels-photo-1154198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      -->

      </div>

  </div>
</div>

